# Token de ton bot (Discord Developer Portal -> Bot -> Reset Token)
DISCORD_TOKEN=

# ID de ton serveur Discord (clic droit sur le serveur -> Copier l'ID)
# Permet d'enregistrer les commandes slash instantanément (au lieu d'attendre jusqu'à 1h en global)
GUILD_ID=1521140839936692324

# (Optionnel) ID des rôles staff autorisés à Accepter/Refuser les tickets, séparés par une virgule
# Si vide, les membres ayant la permission "Gérer les rôles" pourront le faire
STAFF_ROLE_IDS=
